<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/">サーフスポットレビュー</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to 'ユーザー登録', signup_path, class: 'nav-link' %></li>
        <li class="nav-item"><a href="#" class="nav-link">ログイン</a></li>
      </ul>
    </div>
  </nav>
  
  <nav id="global_navi">
    <ul>
      <div class="current">
      <li><a href="/">投稿</a></li>
      <li><a href="/">マイページ</a></li>
      <li><a href="/">投稿ランキング</a></li>
      <li><a href="/">お気に入り</a></li>
      </div>
    </ul>
  </nav>
  
</header>